@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: black;
  --primary-color-darker: hsl(244, 86%, 41%);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 620px;
  margin: 40px auto;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
}

form input, form label, button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

form input {
  font-size: 16px;
  height: 40px;
  padding: 0 15px;
}

form input:focus {
  outline: 2px solid var(--primary-color);
}

button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 15px;
    font-weight: 650;
    height: 40px;
    cursor: pointer;
    margin-top: 25px;
    border-radius: 9px;
}
button:hover {
  background: var(--primary-color-darker);
}

.paragrafo-resultado{
    background: #1cd87a;
    padding: 10px 20px;
}

.bad{
    background: #c51616;
    padding: 10px 20px;
}

.btnNormal{
    border: none;
      background: var(--primary-color);
      color: #fff;
      font-size: 14px;
      font-weight: 150;
      height: 20px;
      width: 50px;
      cursor: pointer;
      margin-top: 25px;
      border-radius: 9px;
}