@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: black;
  --primary-color-darker: hsl(244, 86%, 41%);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 620px;
  margin: 40px auto;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
}

form input, form label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

form input {
  font-size: 16px;
  height: 40px;
  padding: 0 15px;
}

form input:focus {
  outline: 2px solid var(--primary-color);
}

button {
  transition: color 1s;
  overflow: hidden;
  padding: 30px 60px;
  outline: 2px solid var(--primary-color-darker);
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  border: none;
  background: var(--primary-color);
  color: #fff;
}
button:hover {
  color: var(--primary-color-darker);
}
button::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: var(--primary-color-darker);
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}
button:hover::before{
  transform: scaleX(1) skewX(35deg);
}
.paragrafo-resultado{
    background: #1cd87a;
    padding: 10px 20px;
}

.bad{
    background: #c51616;
    padding: 10px 20px;
}
